{% extends 'Admin/dynamicbase.html.twig' %}

{% block title %}{{ mode == 'edit' ? 'Modifier un Utilisateur' : 'Créer un nouvel Utilisateur' }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card shadow p-4">
            <h2 class="text-2xl font-bold text-gray-800">
                <i class="bi {{ mode == 'edit' ? 'bi-pencil-square' : 'bi-plus-circle' }} me-2"></i>
                {{ mode == 'edit' ? 'Modifier un Utilisateur' : 'Créer un nouvel Utilisateur' }}
            </h2><br>

            {{ form_start(f, {'attr': {'class': 'row g-3'}}) }}

            <div class="col-md-6">
                {{ form_row(f.nom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.prenom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.email) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.telephone) }}
            </div>
            <div class="col-md-12">
                {{ form_row(f.adresse) }}
            </div>

            {% if mode != 'edit' %}
                <div class="col-md-6">
                    {{ form_row(f.plainPassword.first) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(f.plainPassword.second) }}
                </div>
            {% endif %}

            <div class="col-md-12">
                {{ form_row(f.roles, {
                    attr: {
                        disabled: mode == 'edit' ? 'disabled' : null
                    }
                }) }}
            </div>

            {{ form_rest(f) }}
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save me-2"></i>Enregistrer
                </button>
            </div>

            {{ form_end(f) }}
        </div>
    </div>
{% endblock %}
