{% extends 'SignLayout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="glass-card">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom, {attr: {class: 'form-control'}}) }}
        {{ form_row(registrationForm.prenom, {attr: {class: 'form-control'}}) }}
        {{ form_row(registrationForm.adresse, {attr: {class: 'form-control'}}) }}
        {{ form_row(registrationForm.telephone, {attr: {class: 'form-control'}}) }}
        {{ form_row(registrationForm.email, {attr: {class: 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
            attr: {class: 'form-control'}
        }) }}
        <div class="mb-3">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="btn btn-lg btn-primary action-btn">S'inscrire</button>
        <a href="{{ path('app_login') }}" class="btn btn-lg btn-secondary action-btn mt-2" style="background-color: #6c757d;">
            Déjà un compte? Se connecter
        </a>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}