{% extends 'Client/base.html.twig' %}

{% block title %}Vitrine Livres - {% endblock %}

{% block body %}
    <div class="mb-4">
        <form class="d-flex" method="get">
            <div class="input-group">
                <select name="filterBy" class="form-select" style="max-width: 150px;">
                    <option value="titre" {% if filterBy == 'titre' %}selected{% endif %}>Titre</option>
                    <option value="auteur" {% if filterBy == 'auteur' %}selected{% endif %}>Auteur</option>
                    <option value="categorie" {% if filterBy == 'categorie' %}selected{% endif %}>Catégorie</option>
                </select>
                <input name="search" type="text" class="form-control" placeholder="Rechercher..." value="{{ search }}">
                <button class="btn btn-dark" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>


    <div class="row">
        {% for livre in livres %}
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card card-custom">
                    <div class="position-relative">
                        <img class="card-img-top" src="{{ livre.image|default(('placeholder.jpg')) }}" alt="{{ livre.titre }}">
                        <button class="wishlist-btn">
                            <i class="bi bi-heart"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ livre.titre}}</h5>
                        <p class="text-muted mb-1">{{ livre.auteur}}</p>
                        <div class="mt-2">
                            <p class="original-price mb-0 small">{{ livre.prix|number_format(2, '.', ',') }} TND</p>
                        </div>

                        <div class="card-buttons">
                            <form action="{{ path('client_panier_ajouter', {'id': livre.id}) }}" method="post">
                                <button type="submit" class="btn btn-outline-secondary btn-custom">
                                    <i class="bi bi-cart-plus"></i>
                                </button>
                            </form>
                            <a href="{{ path('client_livre_show', {'id': livre.id}) }}" class="btn btn-primary btn-custom">
                                <i class="bi bi-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(livres) }}
    </div>
{% endblock %}