{% extends 'Admin/base.html.twig' %}

{% block title %}{{ mode == 'edit' ? 'Modifier un Livre' : 'Ajouter un nouveau Livre' }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card shadow p-4">
            <h2 class="text-primary mb-4">
                <i class="bi {{ mode == 'edit' ? 'bi-pencil-square' : 'bi-plus-circle' }} me-2"></i>
                {{ mode == 'edit' ? 'Modifier un Livre' : 'Ajouter un nouveau Livre' }}
            </h2>

            {{ form_start(f, {'attr': {'class': 'row g-3'}}) }}
            <div class="col-md-6">
                {{ form_row(f.titre) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.isbn, {'label': 'ISBN'}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.slug) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.image) }}
            </div>
            <div class="col-md-12">
                {{ form_row(f.resume, {'label': 'Résumé'}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.editeur) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.auteur) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.dateedition, {'label': 'Date d\'édition'}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(f.prix) }}
            </div>
            <div class="col-md-3">
                {{ form_row(f.stock) }}
            </div>
            <div class="col-md-6">
                {{ form_row(f.categorie, {'label': 'Catégorie'}) }}
            </div>

            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save me-2"></i>Enregistrer
                </button>
            </div>
            {{ form_end(f) }}
        </div>
    </div>
{% endblock %}
